@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tickets Booked";
}
<h1>Successfully Ticket(s) is(are) Booked</h1>

<div>
    <a asp-action="Flight" class="btn btn-primary">Go to Flight List</a>
    <a asp-action="SearchHistory" class="btn btn-primary">Go to Search</a>
</div>
